# Databáza
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=fakturacia
DB_USER=root
DB_PASS=
DB_CHARSET=utf8mb4

# Aplikácia
APP_NAME=Fakturácia
APP_URL=http://fakturacia.localhost
BASE_PATH=
APP_DEBUG=false
APP_SECRET=zmen-na-dlhy-nahodny-retazec-aspon-32-znakov
